<%= link_to "Thêm mới", new_admin_product_path, class: "btn btn-success mx-5 my-3" %>
<table class="table align-middle mb-0 bg-white text-center">
  <thead class="bg-light">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity available</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class='col-2'>
          <p class="fw-normal mb-1"><%= product.title %></p>
        </td>
				<td class='col-2'>
          <p class="fw-normal mb-1"><%= product.description %></p>
        </td>
				<td class='col-2'>
          <p class="fw-normal mb-1"><%= product.price %></p>
        </td>
				<td class='col-2'>
          <p class="fw-normal mb-1"><%= product.quantity_available %></p>
        </td>
        <td class='col-2'>
          <div class="d-flex align-items-center justify-content-center">
            <% if product.image.present? %>
              <%= image_tag product.image, class:"img-fluid img-thumbnail", style: "width: 200px;" %>
            <% else %>
              <img
                  src="https://www.eatingwell.com/thmb/YxkWBfh2AvNYrDKoHukRdmRvD5U=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg"
                  alt=""
                  style="width: 200px;"
                  class="img-fluid img-thumbnail"
                  />
            <% end %>
          </div>
        </td>
        <td class='col-2'>
          <%= link_to "Edit", edit_admin_product_path(product) , class: "btn btn-warning mr-2", style: "width: 80px" %>
          <%= link_to "Delete", admin_product_path(product), data: { method: :delete, confirm: 'Are you sure?!?' }, class: "btn btn-danger", style: "width: 80px" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>